body{
  min-height: 100vh;
  background-color: rgb(124, 218, 255);
}
.App{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.list_wrapper{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.list_wrapper .lazyload-wrapper{
  width: 50%;
}